<div class="signup">
    <h1>Create New Account</h1>
    <%= form_for @player, :html => {:class => 'signup_title'} do |f| %>
        
        <div>
          <%= f.label :email %>
          <%= f.text_field :email, class: "field" %>
        </div>

        <div>
          <%= f.label :password %>
          <%= f.password_field :password, class: "field" %>
        </div>

        <div>
          <%= f.label "password (confirm)" %>
          <%= f.password_field :password_confirmation, class: "field" %>
        </div>

        <div>
          <%= f.submit "Sign Up!", class: "button" %>
        </div>
    <% end %>
</div>